body {
  color: black;
  font-family: "Times New Roman", Times, serif;
  background: #10586b;
  word-wrap: break-word;
  margin:20px;
}
.main {
  background: #fff;
  max-width: 100%;
  padding: 50px;
  width: 1000px; 
  margin:auto;
  height:100%
}
.site-header {
  margin:auto;
  margin-bottom:10px;
}
#header_1{
    font-size:50px;
    float:left;
}
#header_2{
    font-size:30px;
    float:right;
}
#header_3{
    float:right;
    font-size:30px;
    margin:0px 50px;
}
#hr{
    border:1px solid black;
    margin-bottom:50px;
    clear:both;
}
.input{
    border:2px solid black;
    background-color:#fffcf5;
    width:100%;
    margin:auto;
    font-size:15px;
}
#prompt_1{
    text-align:center;
    margin-left:-108px;
    
}
#prompt_2{
    text-align:center;
    margin-left:-289px;
}
#button{
    text-align:center;
    margin-bottom:5px;
}
.decide{
    border: 2px solid black;
    height: 25px;
    width: 50%;
    border-radius:5px;
}
.decide:hover{
    border:3px solid black;
}
